<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= pageTitle %></title>

    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />

    <link rel="stylesheet" href="/css/mainIndex.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Inter:400,500,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/property_screen_1.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
      rel="stylesheet"
    /> 

    <link rel="stylesheet" href="/css/addProp/prop_upload.css" />
    <link rel="stylesheet" href="/css/propDetailOwn.css" />
    <link rel="stylesheet" href="css/addProp/addBasicInfo.css" />

    <link rel="stylesheet" href="/css/addProp/prop_detail.css" />
    <link rel="stylesheet" href="/css/addProp/prop_config.css" />

    <link rel="stylesheet" href="/css/addProp/prop_docs.css" />
    <link rel="stylesheet" href="/css/addProp/prop_submit.css" />
  </head>

  <body></body>
</html>
