<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/marketing/index.css" />
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />

    <link rel="stylesheet" href="/css/mainIndex.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Inter:400,500,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/property_screen_1.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/addProp/prop_upload.css" />
    <link rel="stylesheet" href="/css/propDetailOwn.css" />
    <link rel="stylesheet" href="/css/addProp/addBasicInfo.css" />

    <link rel="stylesheet" href="/css/addProp/prop_detail.css" />
    <link rel="stylesheet" href="/css/addProp/prop_config.css" />

    <link rel="stylesheet" href="/css/addProp/prop_docs.css" />
    <link rel="stylesheet" href="/css/addProp/prop_submit.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/staff/staffMain.css" />
    <!--  staff index file css  -->

    <!-- facility Management  -->

    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/facilityManagement/add_company.css" />
    <link rel="stylesheet" href="/css/facilityManagement/index.css" />

    <link rel="stylesheet" href="/css/subscription/subscription.css" />
  </head>

  <body>